html {
	background: #6F81BB;
}

#header {
	font-family: 'Arvo';
	font-size: 60px;
	text-align: center;
	color: white;
}

.head-container {
	text-align: center;
}

.profilePic {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button {
	display: inline;
}

#friends-container {
	display: inline;
	text-align: center;
	width: 1000px;
	height: 600px;
}

.friend {
	display: inline;
	float: left;
	padding: 10px;
}

button {
	font-size: 18px;
	width: 140px;
}

#buttons {
	text-align: center;
}
/*button {
	color: black;
	background: gray;
	border: 0;
	border-radius: 4px;
	padding: 4px;
	font-family: 'Arvo';
	font-size: 20px;
}*/