/*html {
	background: #6F81BB;
}*/

#header {
	font-family: 'Arvo';
	font-size: 80px;
	text-align: center;
	/*color: white;*/
}

.profilePic {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#friends-container {
	/*display: inline;*/
	/*width: 1000px;*/
	/*
	text-align: center;
	width: 37%;
	height: 600px;
	margin: 0px auto;
	*/

	height: 800px;
	margin-left: 34%;

}

.loggedOut {
	margin: 20px;
}

img {
	padding-right: 10px;
}

#fblogin {
	text-align:center;
	width:10%;
	margin: 0px auto;
}

.friend {
	display: inline;
	float: left;
	padding: 10px;
	font-family: 'Arvo';
	font-size: 16px;
	max-width: 160px;
}

button {
	font-size: 18px;
	width: 120px;
	/*background: #4682B4;*/
	background: #6495ED;
	color: white;
	
	border: 0;
	border-radius: 2px;
	font-family: 'Arvo';

	padding-top: 4px;
	padding-bottom: 4px;
}
	button:hover {
		background: orange;
	}

button[disabled] {
	background: gray;
}

#buttons {
	text-align: center;
	margin-bottom: 50px;
}

.selected {
	border-width: 2px;
	border-color: black;
}

/*button {
	color: black;
	background: gray;
	border: 0;
	border-radius: 4px;
	padding: 4px;
	font-family: 'Arvo';
	font-size: 20px;
}*/